<form action="/review" method="post">
  <div class="positioncard">
    <% position.forEach((candidate)=>{ %>
    <div class="positionbuttons">
        <input type="button"><%=candidate.dataValues.positiontitle%></input>
      </div>
      <%})%>
  </div>
</form>

