<form action="/review" method="post">
  <div class="positioncard">
    <% position.forEach((pos)=>{ %>
    <div class="positiontitle">
        <h1"><%=pos.dataValues.positiontitle%></h1>
        <p><%=pos.dataValues.positiondescription%></p>
        <div class="positionbuttons">
          <h1>Candidates</h1>
        <% pos.dataValues.candidates.forEach((can)=>{ %>
<<<<<<< Updated upstream
          <button class="candidatebutt"><%=can%></button>
=======
          <button><%=can[0]%></button>
>>>>>>> Stashed changes
          <%})%>
      </div>
      </div>
      <%})%>
  </div>
</form>

<!-- Change the for each loop to be just the index of the candidate and change the colors in css to blue purple red -->
