<form action="/review" method="post">
  <div class="positioncard">
    <h1><%=position.title%></h1>
    <p><%=position.description%></p>
    <div class="positionbuttons">
      <%position.candidates.forEach((candidate,index)=>{%>
        <input name="<%=index%>" type="button"><%=candidate%></input>
      <%})%>
    </div>
  </div>
</form>
