<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Vote!</title>
  </head>

  <body>
    <div class="mainhome">
      <div class="mainlogo">
        <img class="vote" src="/assets/vote_light.svg" alt="vote" />
      </div>
      <div class="splasharea">
        <img class="splash" src="/assets/splash.svg" alt="splash" />
      </div>
      <div class="getstarted">
        <form action="/login" method="get">
          <input type="submit" name="" value="Get Started" />
        </form>
      </div>
    </div>
  </body>
</html>
