<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Review Ballot</title>
  </head>

  <body>
    <div class="main">
      <div class="ballothead">
        <h1></h1>
      </div>
      <div class="ballot"></div>
    </div>
  </body>
</html>
