<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
    <title>You Voted!</title>
  </head>
  <body>
    <h1>Your ballot has been successfully cast!</h1>
    <form action="/logout" method="post">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
