<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
    <title>You Voted!</title>
  </head>
  <body>
    <div class="voted">
      <h1>You voted!</h1>
      <img class="badge" src="/assets/badge.svg" alt="badge" />
      <form action="/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </body>
</html>
